@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 1;
}
.ul-header{font-size: 1.1em;
    list-style: none;
    display: flex;
    justify-content: space-between; 
    width: 48vw;
    font-family: 'Montserrat', sans-serif;
    color: #9767A9;
}
.ul-header li:hover {
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s ease-out;
    
}
.div-input-header{
    border: solid #9767A9;
    border-radius: 50px;
    height: 42px;
    width: 220px;
}
.div-input-header input{
    border: none;
    outline: 0;
    background: transparent;
    height: 2.9em;
    width: 14.1em;
    padding-left: 5px;
}
.div-input-header svg {
    position: relative;
    top: 4px;
    left: 8px;
    height: 20px;
}
::placeholder{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color:#9767A9;
    padding-left: 10px;
    font-weight: 400;

}
nav svg {
    height: 43px;
}
.img-section-one{
    height: 100vh;
}
.img-section-one img {
    display: flex;
    justify-content: center;
    width: 98.7vw;
    height: 100vh;
    padding-top: 81px;
}
h1 {
font-family: 'Playfair Display', serif;
color: #FFFFFF;
position: relative;
bottom: 18.7rem;
left: 10.4rem;
width: 17vw;
font-size: 4rem;
text-shadow: black 0.1em 0.1em 0.2em;
}
section p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 2px;
    color: #FFFFFF;
    width: 26vw;
    position: relative;
    bottom: 24.8rem;
    left: 49rem;
    text-shadow: #cbcbcb 0.1em 0.1em 0.7em;
}
.container {
    width: 100%;
    height: 50vh;   
     background: #9767A9 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
display: flex;
justify-content: space-evenly;
}
.container h2{
    font-family: 'Playfair Display', serif;
    text-align: left;
    color: #FFFFFF;
    opacity: 1;
    font-size: 3rem;
    height: 8rem;
    width: 43rem;
}
.container p{
    font-weight: 100;
    font-size: 1.29rem;
    height: 16rem;
    width: 33rem;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    opacity: 1;
    text-align: justify;
    position: relative;
    top: 1rem;
}
.section-two
{   height: 446.3vh;
    display: grid;
    position: relative;
    bottom: 4.6rem;
    justify-content: space-evenly;
    width: 98.7vw;
    margin-bottom: 20rem;
}
.img-1 { grid-area: 1 / 1 / 2 / 2; }
.img-2 { grid-area: 2 / 2 / 3 / 3; 
    right: 4rem; bottom: 37.8rem; position: relative;}
.img-3 { grid-area: 3 / 1 / 4 / 2; 
    position: relative; bottom: 60rem; }
.img-4 { grid-area: 4 / 2 / 5 / 3;
    position: relative; bottom: 94rem; right: 4rem;}
.img-5 { grid-area: 5 / 1 / 6 / 2;
    position: relative; bottom: 111.5rem;}
.img-6 { grid-area: 6 / 2 / 7 / 3;
    right: 3.98rem; position: relative; bottom: 147rem; }
.img-7 { grid-area: 7 / 1 / 8 / 2;
    position: relative; bottom: 163.3rem; height: 45rem;} 
.img-8 { grid-area: 7 / 2 / 8 / 3; 
    position: relative; bottom: 140rem; height: 4rem }

.img-1 img, .img-2 img,
.img-3 img, .img-4 img,
.img-5 img, .img-6 img,
.img-7 img {
height: 80vh;
width: 40vw;
}
.section-two h3{
    letter-spacing: 3px;
    margin-bottom: 1.5rem;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    text-align: left;
    color: #FFFFFF;
    opacity: 1;
    background-color: #9767A9;
    width: 30rem;
}
.section-two figcaption {
    padding: 0rem 1rem 1rem 1rem;
    letter-spacing: 3px;
    position: relative;
    bottom: 8rem;
    left: 5%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    opacity: 1;
    background-color: #9767A9;
    width: 31rem;
}
.img-4 h3{
    font-size: 35px;
    letter-spacing: 0px;
}
.section-tree {
    display: grid; 
    grid-template-rows: 28% 28% 28%;
    grid-template-columns: 29% 19% 19% 29% 19%;
    
    gap: 0px;
    height: 100%;
    
 }


 #item-0 {
 
   
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 3;
    grid-column-end: 2;
    
 }
 #item-1 {
 
    
    grid-row-start: 1;
    grid-column-start: 2;
 
    grid-row-end: 2;
    grid-column-end: 3;
    
 }
 #item-2 {
    grid-row-start: 2;
    grid-column-start: 2;
    /*position: relative;
    top: 13px;*/
    grid-row-end: 3;
    grid-column-end: 3;
 }
 #item-3 {
    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 3;
    grid-column-end: 4;
    
 }
 #item-4 {
 
    /*height: 841px;*/
    grid-row-start: 1;
    grid-column-start: 4;
 
    grid-row-end: 4;
    grid-column-end: 5;
    
 }
 #item-5 {
 
 /*  width:16.2rem ;
   height:18.9rem ; */
    grid-row-start: 1;
    grid-column-start: 5;
 
    grid-row-end: 2;
    grid-column-end: 6;
    
 }
 #item-6 {
    grid-row-start: 2;
    grid-column-start: 5;
    grid-row-end: 4;
    grid-column-end: 6;
    /*height: 539px;
    width: 260px;*/
 }
 #item-7 {
 
    
    grid-row-start: 3;
    grid-column-start: 1;
 
    grid-row-end: 4;
    grid-column-end: 2;
    
 }
 #item-8 {
 
    
    grid-row-start: 3;
    grid-column-start: 2;
 
    grid-row-end: 4;
    grid-column-end: 3;
    
 }
 #item-9 {
 
    
    grid-row-start: 3;
    grid-column-start: 3;
 
    grid-row-end: 4;
    grid-column-end: 4;
    
 }
/*Footer incompleto*/
footer {
    font-family:'Montserrat', sans-serif;
    background-color: #9767A9;
    height: 100%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.botões-footer {
    display: flex;
    align-items: center;
}
.botões-footer button {
    font-family:'Montserrat', sans-serif;
    color: #FFFFFF;
    background-color: #9767A9;
    border: none;
    
}

.botões-footer button:hover {

}